services:
  wms_db:
    container_name: wms_db
    image: postgres:17
    ports:
      - 8000:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin123
      - POSTGRES_DB=wms_db
    volumes:
      - ./config/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - wms-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    container_name: wms-keycloak
    build:
      context: docker/keycloak
    ports:
      - 9000:8080
    environment:
      - KC_DB_URL=jdbc:postgresql://wms_db:5432/wms_keycloak
      - KC_DB_USERNAME=admin
      - KC_DB_PASSWORD=admin123
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME=${KC_HOSTNAME:-localhost}
    volumes:
      - ./config/keycloak:/opt/keycloak/data/import
      - ./config/server.keystore:/opt/keycloak/server.keystore
    command:
      [
        "start",
        "--optimized",
        "--import-realm",
        "--https-key-store-file=/opt/keycloak/server.keystore",
        "--https-key-store-password=password",
      ]
    networks:
      - wms-network
    depends_on:
      wms_db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://keycloak:8080/health/ready || exit 1"]
      interval: 15s
      timeout: 10s
      retries: 30

  backend:
    image: putra4648/backend
    depends_on:
      wms_db:
        condition: service_healthy
      logstash:
        condition: service_healthy
      # keycloak:
      #   condition: service_healthy
    build:
      context: .
    container_name: backend
    ports:
      - 7000:7000
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://wms_db:5432/wms_db
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=admin123
      - spring.security.oauth2.client.provider.wms-provider.issuer_uri=http://keycloak:8080/realms/wms
      - LOGSTASH_HOST=logstash
      - LOGSTASH_PORT=5000
    networks:
      - wms-network

  frontend:
    image: putra4648/frontend
    build:
      context: ./web
    container_name: wms-web
    ports:
      - 3001:3000
    networks:
      - wms-network
    depends_on:
      - backend

networks:
  wms-network:
    driver: bridge
