<div>
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"
          ><i class="fas fa-bars"></i
        ></a>
      </li>
    </ul>
    <a class="navbar-brand mr-auto" th:text="${title}"></a>

    <form action="">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Search" />
      </div>
    </form>
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <span>K.H Ahmad Dahlan</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <h6 class="dropdown-header">Message</h6>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-bell"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <h6 class="dropdown-header">Message</h6>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img
        src="dist/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
        >
          <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a
              th:href="@{/}"
              class="nav-link"
              th:classappend="${title} == 'Dashboard' ? 'active' : ''"
            >
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/inventory}"
              class="nav-link"
              th:classappend="${title} == 'Inventory' ? 'active' : ''"
            >
              <i class="nav-icon fas fa-pallet"></i>
              <p>
                Inventory
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/inbound}"
              class="nav-link"
              th:classappend="${title} == 'Order' ? 'active' : ''"
            >
              <i class="nav-icon fas fa-arrow-circle-down"></i>
              <p>
                Inbound
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/outbound}"
              class="nav-link"
              th:classappend="${title} == 'Logistic' ? 'active' : ''"
            >
              <i class="nav-icon fas fa-arrow-circle-up"></i>
              <p>
                Outbound
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/supplier}"
              class="nav-link"
              th:classappend="${title} == 'Logistic' ? 'active' : ''"
            >
              <i class="nav-icon fas fa-truck-loading"></i>
              <p>
                Suppliers
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/report_and_analysis}"
              class="nav-link"
              th:classappend="${title} == 'Report & Analysis' ? 'active' : ''"
            >
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>Report & Analysis</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/user}"
              class="nav-link"
              th:classappend="${title} == 'User' ? 'active' : ''"
            >
              <i class="nav-icon fas fa-users-cog"></i>
              <p>User</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/setting}"
              class="nav-link"
              th:classappend="${title} == 'Setting' ? 'active' : ''"
            >
              <i class="nav-icon fas fa-cogs"></i>
              <p>Settings</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-question-circle"></i>
              <p>Help & Support</p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="fas fa-book nav-icon"></i>
                  <p>User Guide</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-comments nav-icon"></i>
                  <p>FAQs</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-headphones-alt nav-icon"></i>
                  <p>Contact Support</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</div>
