<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Master Warehouse</title>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="row g-2">
        <!-- Error dialog -->
        <div class="col-12">
          <div th:utext="${messageHTML}"></div>
          <div id="message"></div>
        </div>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Warehouse</li>
          </ol>
        </nav>

        <div class="col-12">
          <h1><strong>Warehouse Management</strong></h1>
          <h6>Manage your warehouse location, zone and rack</h6>
          <hr />
          <h4 th:if="${message}" th:text="${message}"></h4>
          <div class="d-flex mb-3" style="gap: 6px">
            <a class="btn btn-primary" th:href="@{/master/warehouses/add}">
              <i class="fas fa-plus"></i>
              <span>Add Warehouse</span>
            </a>
          </div>
        </div>
        <!-- Search -->
        <div class="col-12">
          <div class="card">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
              <input
                class="form-control w-75"
                type="text"
                placeholder="Search"
                onchange="handleTableChange(event)"
              />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row row-cols-md-4 g-2">
            <div class="col" th:each="wh : ${warehouses}">
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <i class="fas fa-warehouse fa-xl"></i>
                    </div>
                    <div class="col-md-8 text-break">
                      <h5 class="card-title w-100">
                        <strong th:text="${wh.name}"></strong>
                      </h5>
                      <small
                        class="card-subtitle mb-2 text-body-secondary"
                        th:text="${#strings.toUpperCase(wh.id)}"
                      ></small>
                    </div>
                    <div class="col-md">
                      <button class="btn btn-outline-danger">
                        <i class="fas fa-trash-can"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row text-muted align-items-center">
                    <div class="col-md-1">
                      <i class="fas fa-location-dot"></i>
                    </div>
                    <div class="col">
                      <p class="card-text" th:text="${wh.location}"></p>
                    </div>
                  </div>
                  <!-- <div class="row text-muted mb-2 align-items-center">
                    <div class="col-md-1">
                      <i class="fas fa-layer-group"></i>
                    </div>
                    <div class="col">
                      <p class="card-text" th:text="${wh.total + ' zones'}"></p>
                    </div>
                  </div> -->
                  <small class="d-block">
                    <strong
                      th:text="${'Total area : ' + wh.area + ' m2'}"
                    ></strong>
                  </small>
                  <a
                    th:href="@{/master/warehouses/{id}(id=${wh.id})}"
                    class="card-link stretched-link"
                    >Zones</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            th:replace="~{fragment/pagination :: advanced(${page}, '/master/warehouses', ${size})}"
          ></div>
        </div>

        <!-- Modal Delete -->
        <div
          class="modal fade"
          id="delete-master-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  Delete Warehouse
                </h5>
              </div>
              <div class="modal-body">
                <h4>
                  Are you sure to delete
                  <strong id="delete-modal-content"></strong> data?
                </h4>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-danger"
                  onclick="deleteHandler()"
                >
                  Ok
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script th:src="@{/obfuscate/master/warehouse/index.js}"></script>
    </main>
  </body>
</html>
