<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${zone.name}"></title>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="row g-2">
        <!-- Error dialog -->
        <div class="col-12">
          <div th:utext="${messageHTML}"></div>
          <div id="message"></div>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a th:href="@{/master/warehouses}">Warehouse</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              <a
                th:href="@{/master/warehouses/{id}(id=${warehouse.id})}"
                th:text="${warehouse.name}"
                >Warehouse</a
              >
            </li>
            <li
              class="breadcrumb-item active"
              aria-current="page"
              th:text="${zone.name}"
            ></li>
          </ol>
        </nav>
        <div class="col-12">
          <h1>
            <strong>Racks in <span th:text="${zone.name}"></span></strong>
          </h1>
          <h6>Manage racks within the selected zone</h6>
          <hr />
          <h4 th:if="${message}" th:text="${message}"></h4>
          <div class="d-flex mb-3" style="gap: 6px">
            <a class="btn btn-primary" th:href="@{/master/warehouses/add}">
              <i class="fas fa-plus"></i>
              <span>Add Rack</span>
            </a>
          </div>
        </div>

        <div class="col-12">
          <div class="row row-cols-md-4 g-2">
            <div class="col" th:each="rack : ${racks}">
              <div class="card" href="#">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-md-2 text-success">
                      <i class="fas fa-box fa-xl"></i>
                    </div>
                    <div class="col">
                      <h5 class="card-title w-100">
                        <strong th:text="${rack.name}"></strong>
                      </h5>
                      <h6
                        class="card-subtitle mb-2 text-body-secondary"
                        th:text="${rack.id}"
                      ></h6>
                    </div>
                    <div class="col-md-2 offset-md-2">
                      <button class="btn btn-outline-danger">
                        <i class="fas fa-trash-can"></i>
                      </button>
                    </div>
                  </div>
                  <!-- <div class="row text-muted align-items-center">
                    <div class="col-md-1">
                      <i class="fas fa-location-dot"></i>
                    </div>
                    <div class="col">
                      <p class="card-text" th:text="${rack.location}"></p>
                    </div>
                  </div> -->
                  <!-- <div class="row text-muted mb-2 align-items-center">
                    <div class="col-md-1">
                      <i class="fas fa-layer-group"></i>
                    </div>
                    <div class="col">
                      <p
                        class="card-text"
                        th:text="${rack.total + ' location'}"
                      ></p>
                    </div>
                  </div> -->
                  <a
                    th:href="@{/master/warehouses/{id}/zones/{zoneId}/racks/{rackId}(id=${warehouse.id},zoneId=${zone.id},rackId=${rack.id})}"
                    class="card-link"
                    th:text="${rack.total + ' locations'}"
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Delete -->
        <div
          class="modal fade"
          id="delete-master-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  Delete Warehouse
                </h5>
              </div>
              <div class="modal-body">
                <h4>
                  Are you sure to delete
                  <strong id="delete-modal-content"></strong> data?
                </h4>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-danger"
                  onclick="deleteHandler()"
                >
                  Ok
                </button>
              </div>
            </div>
          </div>
        </div>

        <script th:src="@{/obfuscate/master/warehouse/rack.js}"></script>
      </div>
    </main>
  </body>
</html>
