server:
  port: 7000

spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
  sql:
    init:
      mode: always
  threads:
    virtual:
      enabled: true
  thymeleaf:
    cache: false
  data:
    web:
      pageable:
        one-indexed-parameters: true
  application:
    name: wms
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        "[format_sql]": true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000/realms/wms
          jwk-set-uri: http://localhost:9000/realms/wms/protocol/openid-connect/certs
logging:
  level:
    "[org.springframework.security]": DEBUG
    "[com.zaxxer.hikari.HikariConfig]": OFF
    "[com.zaxxer.hikari]": OFF

management:
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true
  endpoint:
    health:
      access: read-only
      show-details: always
    metrics:
      access: read-only
    prometheus:
      access: read-only
  endpoints:
    web:
      exposure:
        include:
          - prometheus
          - health
          - metrics
          - info

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    oauth:
      client-id: wms-client
      use-pkce-with-authorization-code-grant: true
    tags-sorter: alpha
    operations-sorter: alpha
