<!-- Main module content -->
<div
  class="row g-2"
  layout:fragment="main(title,subtitle,addHandler,handleTableChange)"
>
  <!-- Module header -->
  <div
    layout:replace="~{fragment/header :: header(title = ${title}, subtitle=${subtitle}, addHandler=${addHandler})}"
  ></div>

  <!-- Module information box-->
  <div class="col-12">
    <div class="row row-cols-md-3">
      <div class="col" th:each="msg : ${msgbox}">
        <div
          layout:replace="~{fragment/msgbox :: msg(icon=${msg.icon}, text=${msg.text}, count=${msg.count}, status=${msg.status})}"
        ></div>
      </div>
    </div>
  </div>

  <!-- Module search box  -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-transparent">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            th:attr="onchange=|${handleTableChange}|"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Module main table -->
  <div class="col-12" layout:fragment="main-content"></div>

  <!-- Module dialog message -->
  <!-- <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Inbound Item</h5>
        </div>
        <form
          action="/"
          th:action="@{/inventory}"
          th:object="${form}"
          method="post"
        >
          <div class="modal-body">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" th:field="*{date}" />
            <label for="supplier" class="form-label">Supplier</label>
            <input type="text" class="form-control" th:field="*{supplier}" />
            <label for="received_date" class="form-label">Received Date</label>
            <input
              type="date"
              class="form-control"
              th:field="*{received_date}"
            />
            <label for="reference" class="form-label">Reference</label>
            <input type="text" class="form-control" th:field="*{reference}" />
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control" th:field="*{status}" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
</div>
