<div
  class="info-box"
  layout:fragment="msg(icon,text,count,dataType,progressDesc)"
>
  <span class="info-box-icon"> <i th:class="${icon}"></i> </span>
  <div class="info-box-content">
    <span class="info-box-text" th:text="${text}"></span>
    <span
      class="info-box-number"
      th:if="${#strings.contains(dataType,'MONEY')}"
      th:text="${#numbers.formatInteger(count,2,'POINT') + ' IDR'}"
    ></span>
    <span
      class="info-box-number"
      th:if="${#strings.contains(dataType,'HOURS')}"
      th:text="${#numbers.formatDecimal(count,1,2) + ' hrs'}"
    ></span>
    <span
      class="info-box-number"
      th:if="${#strings.contains(dataType,'PERCENTAGE')}"
      th:text="${#numbers.formatDecimal(count,1,2) + ' %'}"
    ></span>
    <span
      class="info-box-number"
      th:if="${#strings.contains(dataType,'VALUES')}"
      th:text="${#numbers.formatInteger(count,2,'POINT')}"
    ></span>
    <!-- <div class="progress">
      <div class="progress-bar" style="width: 70%"></div>
    </div> -->
    <span
      class="progress-description text-success"
      th:text="${progressDesc}"
    ></span>
  </div>
</div>
