<!DOCTYPE html>
<html
  lang="en"
  layout:decorate="~{layout/layout}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="row g-2">
        <div class="col-12">
          <h1><strong>Dashboard</strong></h1>
          <h6>
            Welcome back! Here's what's happening in your warehouse today.
          </h6>
        </div>

        <div class="col-12">
          <div class="row row-cols-md-4 g-2">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-subtitle text-muted">Total Inventory</p>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <strong>12,847</strong>
                    <button class="btn btn-primary">
                      <i class="fas fa-info-circle"></i>
                    </button>
                  </div>
                  <div class="card-text text-success">Nambah sedikit</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-subtitle text-muted">Pending Orders</p>
                  <div
                    class="d-flex align-items-center justify-content-between card-text"
                  >
                    <strong>12,847</strong>
                    <button class="btn btn-primary">
                      <i class="fas fa-truck"></i>
                    </button>
                  </div>
                  <div class="card-text text-success">Nambah sedikit</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-subtitle text-muted">Low Stock Items</p>
                  <div
                    class="d-flex align-items-center justify-content-between card-text"
                  >
                    <strong>12,847</strong>
                    <button class="btn btn-danger">
                      <i class="fas fa-exclamation-circle"></i>
                    </button>
                  </div>
                  <div class="card-text text-success">Nambah sedikit</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-subtitle text-muted">Monthly Revenue</p>
                  <div
                    class="d-flex align-items-center justify-content-between card-text"
                  >
                    <strong>12,847</strong>
                    <button class="btn btn-primary">
                      <i class="fas fa-wallet"></i>
                    </button>
                  </div>
                  <div class="card-text text-success">Nambah sedikit</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row row-cols-md-2 g-2">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <strong>Inbound vs Outbound</strong>
                  </div>
                  <canvas id="bar"></canvas>
                </div>
              </div>
            </div>
            <di class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <strong>Inventory by Category</strong>
                  </div>
                  <canvas id="pie"></canvas>
                </div>
              </div>
            </di>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header"><strong>Recent Activity</strong></div>
            <div class="card-body">
              <div class="card-text">No Recent Activity</div>
            </div>
          </div>
        </div>
      </div>
      <script></script>
    </main>
  </body>
</html>
