<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logistic</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h1><strong>Inventory Management</strong></h1>
          <h6>Track and manage your warehouse inventory</h6>
        </div>
        <button class="btn btn-primary" onclick="newInbound()">
          <i class="fas fa-plus"></i>
          <span>New Inbound</span>
        </button>
      </div>

      <div class="row row-cols-md-3">
        <div class="col">
          <div class="card">
            <div class="row align-items-center card-body">
              <div class="col-2 text-center text-primary text-xl">
                <i class="fas fa-cubes"></i>
              </div>
              <div>
                <div class="card-subtitle text-muted">Total Items</div>
                <div class="card-title"><strong>2</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="row align-items-center card-body">
              <div class="col-2 text-center text-warning text-xl">
                <i class="fas fa-exclamation-triangle"></i>
              </div>
              <div>
                <div class="card-subtitle text-muted">Low Stocks</div>
                <div class="card-title"><strong>2</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="row align-items-center card-body">
              <div class="col-2 text-center text-danger text-xl">
                <i class="fas fa-cubes"></i>
              </div>
              <div>
                <div class="card-subtitle text-muted">Out of Stocks</div>
                <div class="card-title"><strong>2</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Search items"
              onchange="handleTableChange(event)"
            />
          </div>
        </div>
      </div>

      <div class="card">
        <div id="inventory-table"></div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Inbound Item
              </h5>
            </div>
            <form
              action="/"
              th:action="@{/inventory}"
              th:object="${form}"
              method="post"
            >
              <div class="modal-body">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" th:field="*{date}" />
                <label for="supplier" class="form-label">Supplier</label>
                <input
                  type="text"
                  class="form-control"
                  th:field="*{supplier}"
                />
                <label for="received_date" class="form-label"
                  >Received Date</label
                >
                <input
                  type="date"
                  class="form-control"
                  th:field="*{received_date}"
                />
                <label for="reference" class="form-label">Reference</label>
                <input
                  type="text"
                  class="form-control"
                  th:field="*{reference}"
                />
                <label for="status" class="form-label">Status</label>
                <input type="text" class="form-control" th:field="*{status}" />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script>
        const table = new Tabulator("#inventory-table", {
          layout: "fitColumns",
          placeholder: "No Data Available",
          responsiveLayout: true,
          ajaxURL: "/api/inventory",
          pagination: true,
          paginationMode: "remote",
          paginationSize: 10,
          sortMode: "remote",
          ajaxConfig: "POST",
          ajaxContentType: "json",
          filterMode: "remote",
          initialSort: [{ column: "date", dir: "desc" }],
          columns: [
            {
              title: "SKU",
              field: "id",
              minWidth: 50,
            },
            {
              title: "Name",
              field: "name",
              minWidth: 100,
            },
            {
              title: "Category",
              field: "category",
              minWidth: 200,
            },
            {
              title: "Quantity",
              field: "qty",
              minWidth: 100,
            },
            {
              title: "Price",
              field: "price",
              minWidth: 100,
            },
            {
              title: "Location",
              field: "location",
              minWidth: 100,
            },
            {
              title: "Status",
              field: "status",
              minWidth: 100,
            },
            {
              title: "Actions",
              headerSort: false,
              frozen: true,
              responsive: 0,
              minWidth: 100,
            },
          ],
        });

        function newInbound() {
          $("#exampleModalCenter").modal({
            backdrop: "static",
          });
        }

        function handleTableChange(event) {
          table.setFilter("supplier", "starts", event.target.value);
        }
      </script>
    </div>
  </body>
</html>
