<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logistic</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h1><strong>Inventory Management</strong></h1>
          <h6>Track and manage your warehouse inventory</h6>
        </div>
        <button class="btn btn-primary">
          <i class="fas fa-plus"></i>
          <span>New Inbound</span>
        </button>
      </div>

      <div class="row row-cols-md-3">
        <div class="col">
          <div class="card">
            <div class="row align-items-center card-body">
              <div class="col-2 text-center text-primary text-xl">
                <i class="fas fa-cubes"></i>
              </div>
              <div>
                <div class="card-subtitle text-muted">Total Items</div>
                <div class="card-title"><strong>2</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="row align-items-center card-body">
              <div class="col-2 text-center text-warning text-xl">
                <i class="fas fa-exclamation-triangle"></i>
              </div>
              <div>
                <div class="card-subtitle text-muted">Low Stocks</div>
                <div class="card-title"><strong>2</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="row align-items-center card-body">
              <div class="col-2 text-center text-danger text-xl">
                <i class="fas fa-cubes"></i>
              </div>
              <div>
                <div class="card-subtitle text-muted">Out of Stocks</div>
                <div class="card-title"><strong>2</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <form class="d-flex" action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-transparent">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Search items"
              />
            </div>
            <div class="dropdown ml-2">
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-filter"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <form
        action="/"
        th:action="@{/inventory}"
        th:object="${form}"
        method="post"
      >
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" />
        <button type="submit">Save</button>
      </form>

      <div class="card">
        <div id="inventory-table"></div>
        <script>
          $("#inventory-table").tabulator({
            layout: "fitColumns",
            placeholder: "No Data Available", //display message to user on empty table
            responsiveLayout: true, // enable responsive layouts
            columns: [
              {
                title: "ID",
                field: "id",
                minWidth: 50,
              },
              {
                title: "Date",
                minWidth: 100,
              },
              {
                title: "Supplier",
                minWidth: 200,
              },
              {
                title: "Expected/Received",
                minWidth: 100,
              },
              {
                title: "Reference",
                minWidth: 100,
              },
              {
                title: "Status",
                minWidth: 100,
              },
              {
                title: "Actions",
                headerSort: false,
                frozen: true,
                responsive: 0,
                minWidth: 100,
              },
            ],
          });
        </script>
      </div>
    </div>
  </body>
</html>
