<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logistic</title>
  </head>
  <body>
    <main layout:fragment="content">
      <div
        layout:replace="~{fragment/main ::  main(title='Outbound Management', subtitle='Manage outgoing shipments and order fulfillment', addHandler='addHandler()', handleTableChange='handleTableChange(event)')}"
      >
        <div layout:fragment="main-content">
          <div class="card">
            <div id="app-table"></div>
          </div>
        </div>
      </div>

      <script>
        const table = new Tabulator("#app-table", {
          layout: "fitColumns",
          columns: [
            {
              title: "ID",
              field: "id",
            },
            {
              title: "Date",
            },
            {
              title: "Customer",
            },
            {
              title: "Items",
            },
            {
              title: "Priority",
            },
            {
              title: "Status",
            },
            {
              title: "Tracking",
            },
            {
              title: "Actions",
            },
          ],
        });

        function addHandler() {
          console.log("outbound handler");
        }

        function handleTableChange(event) {}
      </script>
    </main>
  </body>
</html>
