<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      th:href="@{/webjars/AdminLTE/dist/css/adminlte.min.css}"
    />
    <script th:src="@{/webjars/AdminLTE/plugins/jquery/jquery.min.js}"></script>
    <script
      th:src="@{/webjars/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/webjars/AdminLTE/dist/js/adminlte.min.js}"></script>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">
      Warehouse Management System
    </title>
  </head>
  <body class="layout-top-nav">
    <div layout:fragment="content"></div>
  </body>
</html>
