<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="
      http://www.thymeleaf.org" layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div layout:fragment="content" class="container card">
    <div class="card-header">
        <h1>Register Form</h1>
    </div>
    <div class="card-body">
        <form class="d-flex flex-column gap-2 align-items-start" th:action="@{/register}" th:object="${registerForm}"
              method="post">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" th:field="*{username}" placeholder="Username">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" th:field="*{password}" placeholder="Password">
            <button class="btn btn-primary" type="submit">Register</button>

            <div class="text-danger" th:if="${error}" th:text="${error}"></div>
        </form>
    </div>
</div>
</body>
</html>