<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1><strong>Master Product</strong></h1>
      <h6>Manage your product</h6>
      <hr />
      <div class="d-flex mb-3" style="gap: 6px">
        <button class="btn btn-primary" onclick="addProduct()">
          <i class="fas fa-plus"></i>
          <span>Add Product</span>
        </button>
        <button class="btn btn-secondary">
          <i class="fas fa-edit"></i>
          <span>Edit Product</span>
        </button>
        <button class="btn btn-danger">
          <i class="fas fa-trash"></i>
          <span>Delete Product</span>
        </button>
      </div>

      <div class="card">
        <table id="master-product-table"></table>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="add-master-product-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Inbound Item
              </h5>
            </div>
            <form
              action="#"
              th:action="@{/master/product}"
              th:object="${productForm}"
              method="post"
            >
              <p th:text="${#fields.hasErrors('sku')}"></p>
              <div class="modal-body">
                <div class="form-group">
                  <label for="sku">SKU</label>
                  <input
                    class="form-control"
                    th:field="*{sku}"
                    aria-describedby="validateSKU"
                    th:classappend="${#fields.hasErrors('sku')} ? 'is-invalid' : ''"
                  />
                  <div
                    id="validateSKU"
                    class="invalid-feedback"
                    th:errors="*{sku}"
                  ></div>
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    class="form-control"
                    th:field="*{name}"
                    th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                  />
                  <div
                    id="validateSKU"
                    class="invalid-feedback"
                    th:errors="*{name}"
                  ></div>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input class="form-control" th:field="*{description}" />
                </div>
                <div class="form-group">
                  <label for="min_stock">Min. Stock</label>
                  <input
                    min="0"
                    type="number"
                    class="form-control"
                    th:field="*{min_stock}"
                    th:classappend="${#fields.hasErrors('min_stock')} ? 'is-invalid' : ''"
                  />
                  <div
                    id="validateSKU"
                    class="invalid-feedback"
                    th:errors="*{min_stock}"
                  ></div>
                </div>
                <div class="form-group">
                  <label for="max_stock">Max Stock</label>
                  <input
                    min="1"
                    type="number"
                    class="form-control"
                    th:field="*{max_stock}"
                    th:classappend="${#fields.hasErrors('max_stock')} ? 'is-invalid' : ''"
                  />
                  <div
                    id="validateSKU"
                    class="invalid-feedback"
                    th:errors="*{max_stock}"
                  ></div>
                </div>
                <div class="form-group">
                  <input type="radio" th:field="*{is_active}" value="true" />
                  <label for="is_active">Enabled</label>
                </div>
                <div class="form-group">
                  <input type="radio" th:field="*{is_active}" value="false" />
                  <label for="is_active">Disabled</label>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script>
        $("#master-product-table").tabulator({
          layout: "fitColumns",
          columns: [
            {
              title: "Name",
              field: "name",
            },
            {
              title: "Category",
            },
            {
              title: "Quantity",
            },
            {
              title: "Price",
            },
            {
              title: "Location",
            },
            {
              title: "Status",
            },
          ],
        });

        function addProduct() {
          $("#add-master-product-modal").modal({
            backdrop: "static",
          });
        }
      </script>
    </div>
  </body>
</html>
